@use "../../../../assets/styles/variables" as *;

.pool-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $space-2;
  padding: $space-2 $space-2;
  background-color: $color-surface-alt;
  border: 2px solid $color-border;
  border-radius: $radius-l;
}

.pool-left {
  display: flex;
  align-items: center;
  gap: $space-2;

  app-icon {
    font-size: $font-size-lg;
  }

  .app-water {
    color: $color-secondary-light;
  }
  .app-block {
    color: $color-accent;
  }

  .pool-left-text {
    display: flex;
    flex-direction: column;

    .pool-name {
      font-weight: $font-weight-bold;
      font-size: $font-size-lg;
      word-break: break-all;
    }

    time {
      font-size: $font-size-md;
    }
  }
}

.pool-right {
  display: flex;
  align-items: center;
  gap: $space-2;

  app-icon {
    font-size: $font-size-xl;
  }

  .pool-right-text {
    display: flex;
    flex-direction: column;
    text-align: left;

    .temp-value {
      font-weight: $font-weight-bold;
      font-size: $font-size-xl;
    }
  }
}

@each $name, $color in $temp-colors {
  .temp-#{$name} {
    color: $color;
  }
}
