@use "../../../../assets/styles/variables" as *;
@use "../../../../assets/styles/mixins" as *;

:host {
  display: block;

  &:nth-child(even) {
    .accordion-header,
    .accordion-body {
      background: $color-surface-alt;
    }
  }
}

.accordion-header {
  display: flex;
  font-family: $font-family-englebert;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  min-height: 81px; // important for virtual scroll
  border: none;
  padding: $space-3 $space-4;
  text-align: left;
  transition: background $transition-fast, box-shadow $transition-fast;

  .kanton-wappen {
    vertical-align: middle;
    margin-left: 0.25em;
    width: 18px;
    height: 18px;
  }

  &:hover {
    // ToDo: darkmode fix
    @include hover-state;
  }

  .accordion-header-left {
    @include flex-column;
    font-size: $font-size-lg;

    .accordion-header-title {
      font-weight: $font-weight-bold;
      line-height: 1.4;
      margin-bottom: $space-1;
    }
  }

  .accordion-header-right {
    display: flex;
  }
}

@media (min-width: $breakpoint-m) {
  .accordion-header {
    min-height: 51px; // important for virtual scroll
    .accordion-header-left {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: $space-3;

      .accordion-header-title {
        margin: 0;
      }
    }
  }
}

.accordion-body {
  display: flex;
  font-family: $font-family-englebert;
  justify-content: space-between;
  padding-left: $space-4;
  padding-right: $space-4;
  background: $color-surface-hover;
  line-height: 1.5;
  overflow: hidden;

  .accordion-body-left {
    @include flex-column;

    .detail-link {
      text-decoration: none;
      margin-bottom: $space-2;
      .detail-text {
        color: $color-link;
        text-decoration: underline;
        text-underline-offset: $text-underline-offset;
        @include hover-link;
      }
    }
  }
  .accordion-body-right {
    display: flex;
    align-items: center;

    .favorite-button {
      background: none;
      border: none;
      color: $color-link;
      cursor: pointer;
      font-size: 2rem;
      margin-left: $space-1;
      padding-right: 0;

      transition: transform $transition-fast, filter $transition-fast;
      display: inline-flex;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// Temperature
.temp-label {
  display: flex;
  align-items: center;
  gap: $space-2;
  font-size: $font-size-lg;
}

.temp-dot {
  @include stripe-effect;
  width: 0.85rem;
  height: 0.85rem;
  border-radius: 50%;
  background-color: #0098d8;
}

// temparature color-codes
@each $name, $color in $temp-colors {
  .temp-#{$name},
  .favorite-temp.temp-#{$name} {
    color: $color;
  }

  .temp-dot.temp-#{$name} {
    background-color: $color;
  }
}

.label-older-than-one-month {
  color: $color-accent !important;
}
