@use "../../../../assets/styles/variables" as *;
@use "../../../../assets/styles/mixins" as *;

:host.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(0);
  transition: transform $transition-fast;
}

:host.app-header.is-hidden {
  transform: translateY(-110%);
  pointer-events: none;
}

.header-content {
  @include flex-between;
  padding: $space-2 $space-3;
  background: $color-surface;
  box-shadow: $shadow-sm;

  .branding {
    display: flex;
    align-items: center;
    gap: $space-2;

    .app-icon {
      width: 2.5rem;
      height: 2.5rem;
    }

    .brand-copy {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
      user-select: none;
      font-family: $font-family-englebert;
    }

    .app-title {
      margin: 0;
      font-size: $font-size-lg;
      font-family: $font-family-englebert;
      color: $color-text;
      user-select: none;
    }
  }

  .theme-toggle {
    background: none;
    border: none;
    font-size: $font-size-lg;
    cursor: pointer;
    perspective: 600px;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
      transform $transition-fast,
      filter $transition-fast;

    border-bottom: 2px solid transparent;
    padding-bottom: 0.1em;
    &:hover {
      border-bottom: 2px solid currentColor;
    }

    &.flipped .theme-emoji {
      color: $color-primary;
      transform: rotateY(180deg);
    }

    .theme-emoji {
      font-size: $font-size-lg;
      color: $color-secondary;
      display: inline-block;
      transform-style: preserve-3d;
      transition: transform $transition-fast;
    }
  }
}
