<div class="menu-bar">
  <button
    class="menu-button"
    aria-controls="main-menu"
    aria-label="Hauptmenü öffnen"
    [attr.aria-expanded]="isMenuOpen()"
    (click)="toggle()"
    (keydown.escape)="close()"
  >
    <app-icon [symbolId]="isMenuOpen() ? '#arrow_up' : '#arrow_down'" />
  </button>
  @if (isMenuOpen()) {
  <nav
    id="main-menu"
    class="menu"
    aria-label="Hauptmenü"
    (keydown.escape)="close()"
  >
    <ul>
      <li>
        <a routerLink="/" (click)="close()"> Aktuelle Temperaturen </a>
      </li>
      <li>
        <a appExternalLink href="https://www.wiewarm.ch/info" (click)="close()">
          Info
        </a>
      </li>
      <li>
        <a
          appExternalLink
          href="https://www.wiewarm.ch/sms-und-twitter"
          (click)="close()"
        >
          SMS
        </a>
      </li>
      <li>
        <a
          appExternalLink
          href="https://www.wiewarm.ch/admin"
          (click)="close()"
        >
          Login
        </a>
      </li>
    </ul>
  </nav>
  }
</div>
