<div class="menu-bar">
  <button
    class="menu-button"
    aria-haspopup="menu"
    aria-label="Hauptmenü öffnen"
    [attr.aria-expanded]="menuOpen()"
    (click)="toggleMenu()"
    (keydown.escape)="closeMenu()"
  >
    <app-icon [symbolId]="menuOpen() ? '#arrow_up' : '#arrow_down'" />
  </button>
  @if (menuOpen()) {
  <div class="menu" role="menu">
    <ul>
      <li>
        <a role="menuitem" routerLink="/" (click)="closeMenu()">
          Aktuelle Temperaturen
        </a>
      </li>
      <li>
        <a
          role="menuitem"
          href="https://www.wiewarm.ch/info"
          (click)="closeMenu()"
        >
          Info
        </a>
      </li>
      <li>
        <a
          role="menuitem"
          href="https://www.wiewarm.ch/sms-und-twitter"
          (click)="closeMenu()"
        >
          SMS
        </a>
      </li>
      <li>
        <a
          role="menuitem"
          href="https://www.wiewarm.ch/admin"
          (click)="closeMenu()"
        >
          Login
        </a>
      </li>
    </ul>
  </div>
  }
</div>
