@use "../../../../assets/styles/variables" as *;
@use "../../../../assets/styles/mixins" as *;

.footer-content {
  font-size: $font-size-sm;
  height: 0;

  .meta {
    color: $color-text;
    font-family: $font-family-englebert;
  }
}


