<dialog appDialog id="filter-dialog" aria-labelledby="filter-dialog-title">
  <div class="filter-dialog-content">
    <h1 id="filter-dialog-title" class="filter-dialog-title">Filtern:</h1>
    <ul>
      @for (option of filterOptions; track option.value) {
      <li>
        <a
          href="#"
          role="option"
          class="filter-link"
          [attr.aria-selected]="filterOption() === option.value"
          (click)="applyFilter(option.value); $event.preventDefault();"
        >
          <span class="underline">{{ option.label }}</span>
          @if(filterOption() === option.value) { <span> ✓</span> }
        </a>
      </li>
      }
    </ul>
    <button class="close-button" (click)="close()" aria-label="Schliessen">
      ×
    </button>
  </div>
</dialog>
