@use "../../../../assets/styles/variables" as *;
@use "../../../../assets/styles/dialog" as dialog;

:host {
  @include dialog.dialog-container;

  .sort-link {

    @include dialog.dialog-link;
  }

  .no-underline {
    text-decoration: none;
    margin-left: 0.2em;
  }
}

.sort-dialog-title {
  @include dialog.dialog-title;
}

.close-button {
  @include dialog.close-button;
}
