@use "../../../../assets/styles/variables" as *;
@use "../../../../assets/styles/mixins" as *;

#sort-dialog {
  min-width: 40%;
  max-width: 120px;
  border-radius: $radius-l;
  border-color: $color-border;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding-bottom: $space-1;
  }

  .sort-link {
    display: inline-block;
    font-size: $font-size-lg;
    text-decoration: none;
  }

  .underline {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
  }

  .no-underline {
    text-decoration: none;
    margin-left: 0.2em;
  }
}

.sort-dialog-title {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  font-family: $font-family-englebert;
  padding-bottom: $space-2;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
