<h1 id="sort-dialog-title" class="sort-dialog-title">Sortieren nach:</h1>
<app-close-button (closed)="close()" />
<ul>
  @for (option of sortOptions; track option.field + option.direction) {
  <li>
    <a
      href="#"
      role="option"
      class="sort-link"
      [attr.aria-selected]="
              sortField() === option.field && sortDirection() === option.direction
            "
      (click)="applySort(option.field, option.direction); $event.preventDefault();"
    >
      <img
        class="no-underline"
        aria-hidden="true"
        [attr.src]="option.icon"
        alt
        width="16"
        height="14"
      />&nbsp;
      <span
        class="no-underline"
        [class.is-selected]="
            sortField() === option.field &&
            sortDirection() === option.direction
          "
      >
        {{ option.label }}
      </span>
      @if( sortField() === option.field && sortDirection() === option.direction
      ) {
      <span>&#10003;</span>
      }
    </a>
  </li>
  }
</ul>
