@use "../../../../assets/styles/variables" as *;
@use "../../../../assets/styles/mixins" as *;
@use "../../../../assets/styles/dialog" as dialog;

:host {
  @include dialog.dialog-container;

  .sort-link {
    @include dialog.dialog-link;
    &:hover {
      @include gradient-text($color-primary, $color-primary-light);
    }
  }
}

.sort-dialog-title {
  @include dialog.dialog-title;
}
