<address aria-label="Kontakt">
  <h2 class="bad-name">{{ detail().badname }}</h2>
  <div class="address-header">
    <div class="address-icon">
      <app-icon class="location-icon" symbolId="#location"></app-icon>Adresse:
    </div>
    <div class="address-text">
      <p>
        @if (detail().adresse1 || detail().adresse2) { {{ detail().adresse1 }}
        {{ detail().adresse2 }}<br />} {{ detail().plz }} {{ detail().ort }}
      </p>
    </div>
  </div>
  <div class="contact">
    <dl>
      @if (detail().telefon) {
      <div class="contact-row">
        <dt class="contact-title">
          <app-icon symbolId="#call"></app-icon>Telefon:
        </dt>
        <dd class="contact-content">
          <a [href]="'tel:' + detail().telefon">{{ detail().telefon }}</a>
        </dd>
      </div>
      } @if (detail().email) {
      <div class="contact-row">
        <dt class="contact-title">
          <app-icon symbolId="#mail"></app-icon>
          E-Mail:
        </dt>
        <dd class="contact-content">
          <a [href]="'mailto:' + detail().email">{{ detail().email }}</a>
        </dd>
      </div>
      } @if (detail().www && (detail().www?.startsWith('http://') ||
      detail().www?.startsWith('https://'))) {
      <div class="contact-row">
        <dt class="contact-title">
          <app-icon symbolId="#link"></app-icon>
          Web:
        </dt>
        <dd class="contact-content">
          <a
            [attr.href]="detail().www"
            target="_blank"
            rel="noopener noreferrer"
            >Link</a
          >
        </dd>
      </div>
      }
    </dl>
  </div>
</address>
