<address aria-label="Kontakt">
  <h2 class="bad-name">{{ detail().badname }}</h2>

  <div class="address-header">
    <div class="address-icon">
      <app-icon symbolId="#location" /> Adresse:
    </div>
    
    <a appExternalLink class="address-text" [href]="googleMapsUrl()" aria-label="In Google Maps öffnen">
      <p>
        @if (detail().adresse1) { {{ detail().adresse1 }}<br> }
        @if (detail().adresse2) { {{ detail().adresse2 }}<br> }
        {{ detail().plz }} {{ detail().ort }}
      </p>
    </a>
  </div>

  <dl class="contact">
    @if (detail().telefon; as tel) {
      <dt><app-icon symbolId="#call" /> Telefon:</dt>
      <dd><a [href]="'tel:' + tel">{{ tel }}</a></dd>
    }

    @if (detail().email; as mail) {
      <dt><app-icon symbolId="#mail" /> E-Mail:</dt>
      <dd><a [href]="'mailto:' + mail">{{ mail }}</a></dd>
    }

    @if (websiteUrl(); as url) {
      <dt><app-icon symbolId="#link" /> Web:</dt>
      <dd><a appExternalLink [href]="url">Website besuchen</a></dd>
    }
  </dl>
</address>