@use "../../../../assets/styles/variables" as *;

.bad-name,
.address-title {
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
  word-break: break-all;
}

address {
  padding: $space-2 $space-3;
  background-color: $color-surface-alt;
  margin-bottom: $space-4;
  border: 2px solid $color-border;
  border-radius: $radius-l;
  width: fit-content;
  max-width: 400px;
}

dt {
  min-width: 100px;
}

.address-header {
  display: flex;
  align-items: center;
  gap: $space-3;
}

.address-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.address-text {
  display: flex;
  flex-direction: column;
}

.address-text > p {
  margin: 0;
}

.contact {
  display: block;
  width: 100%;
  font-style: normal;
  padding-right: $space-1;
}

.contact-row {
  display: flex;
  align-items: center;
  margin: $space-2 0;
}

.contact-title {
  flex: 0 0 80px;
  text-align: left;
  font-size: $font-size-md;
  margin: 0;
}

.contact-content {
  flex: 1 1 auto;
  display: block;
  text-overflow: clip;
  box-sizing: border-box;
  overflow-wrap: break-all;
  word-break: break-all;
}

a {
  color: $color-secondary;
}

app-icon {
  margin-right: $space-2;
  color: $color-text;
  background-color: $color-border;
  border: 2px solid transparent;
  border-radius: $radius-md;
}
