@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;

.bad-detail {
  display: block;
  padding: $space-2;
  font-family: $font-family-englebert;
  overflow-x: scroll;
}

.container-lg {
  padding: $space-2;
}

.back-link {
  display: inline-flex;
  align-items: center;
  margin: $space-1;
  color: $color-link;
  text-decoration: none;
  @include hover-link;

  .back-icon {
    font-size: $font-size-sm;
    color: $color-primary;
  }
}

.info-title {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  margin-bottom: $space-1;
  line-height: 1.5;
  padding-top: $space-2;
}

.becken-title {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  margin-bottom: $space-1;
  line-height: 1.5;
  padding-top: $space-4;
}

.info {
  margin-top: $space-2;
}

.pool-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}
